<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'learning_app/css/main.css' %}"
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <a href="#" class="brand-logo left">SAGE</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'learning:logout' %}">Logout</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="container">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
          <div class="row">
            <div class="col s6">
              <h3>Student Login</h3>
            </div> <!-- end of col -->
          </div> <!-- end of row -->
          <form class="col s6" action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col s6">
                <label for="login_user_name">Username:</label>
                <input type="text" name="login_user_name" class="validate">
              </div> <!-- end of input field -->
            </div> <!-- end of row -->
            <div class="row">
              <div class="input-field col s6">
                <label for="login_password">Password:</label>
                <input type="text" name="login_password" class="validate">
              </div> <!-- end of input field -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col s6 right-align">
                  <button class="btn waves-effect waves-light" type="submit" name="action">Login
                    <i class="material-icons right">send</i>
                  </button>
                </div>  <!-- end of col -->
            </div> <!-- end of row -->
          </form>
        </div> <!-- end of row -->
        <div class="row">
          <div class="row">
            <div class="col s6">
              <h3>Teacher Login</h3>
            </div> <!-- end of col -->
          </div> <!-- end of row -->
          <form class="col s6" action="{% url 'users:teacher_login' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col s6">
                <label for="login_user_name">Username:</label>
                <input type="text" name="login_user_name" class="validate">
              </div> <!-- end of input field -->
            </div> <!-- end of row -->
            <div class="row">
              <div class="input-field col s6">
                <label for="login_password">Password:</label>
                <input type="text" name="login_password" class="validate">
              </div> <!-- end of input field -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col s6 right-align">
                  <button class="btn waves-effect waves-light" type="submit" name="action">Login
                    <i class="material-icons right">send</i>
                  </button>
                </div>  <!-- end of col -->
            </div> <!-- end of row -->
          </form>
        </div> <!-- end of row -->
      </div>  <!-- end of container -->
    </main>
    <footer class="page-footer teal lighten-2 my_footer">
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  </body>
</html>
